* {
  margin: 0;
  padding: 0;
}

:root {
  --border-color: #212529;
}

html, body {
  width: 16em;
  min-height: 20em;
  font-size: 16px;
  background: #f8f9fa;
}

button {
  width: 100%;
  height: 30px;
  outline: none;
  color: white;
  cursor: pointer;
  background: #212529;
  border-radius: 4px;
  user-select: none;
  font-size: 12px;
  border: 1px solid #212529;
}

button:active {
  transform: translateY(3px);
}