
#popup-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-sizing: border-box;
}

.qrcode {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.qrcode .qrcode-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

#qrcode {
  width: 100%;
  height: 100%;
}

.link-text {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--border-color);
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5em;
  overflow: hidden;
}

#copy-success-text {
  font-size: 0;
  color: #82c91e;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#copy-success-text span {
  font-size: 12px;
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.btn-group #change-color-btn {
  flex: 1;
}

.btn-group .appreciate-btn {
  /*background: transparent;*/
  /*color: #212529;*/
  border: 1px solid #212529;
  width: auto;
  padding: 0 12px;
}